---
<h1><center>  Lab 2: Introduction to Python - Part 2 </center>
    <img src="https://files.realpython.com/media/real-python-video-courses-title-wide.daf71ae6460c.png" width="400">

> ```Created by Jinnie Shin (jinnie.shin@coe.ufl.edu)```\
> ```Date: ```
---

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNf86oJnfhpkPA9LnrFnAbfwF2VywPYpB_w&usqp=CAU" align="left" width="70" height="70" align="left">

 ### Required Packages or Dependencies

In [1]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import pandas as pd
import os

## 1. Importing a data file with ```Pandas```

### 1.1 load the house price dataset (csv file)

>  We will use ```pandas.read_csv``` to open a csv file from a desingated directory.
>  Excel files can be imported using ```pandas.read_excel```

In [11]:
df = pd.read_excel('training_set_rel3.xlsx')

In [ ]:
@interact
def show_responses(column='essay_set', x=8):
    return df.loc[df[column] == x ][:5][['essay_id', 'essay_set', 'essay', 'domain1_score']]

interactive(children=(Text(value='essay_set', description='column'), IntSlider(value=8, description='x', max=2â€¦

## 2. Key Functions and Arguments in ```Pandas```
> ```pandas``` provide various functions and extensions so that we could manipulate and implement learning models using ```dataframe``` or ```df``` as inputs.

In [14]:
df.columns # list of column names

Index(['essay_id', 'essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'rater3_domain1', 'domain1_score', 'rater1_domain2', 'rater2_domain2',
       'domain2_score', 'rater1_trait1', 'rater1_trait2', 'rater1_trait3',
       'rater1_trait4', 'rater1_trait5', 'rater1_trait6', 'rater2_trait1',
       'rater2_trait2', 'rater2_trait3', 'rater2_trait4', 'rater2_trait5',
       'rater2_trait6', 'rater3_trait1', 'rater3_trait2', 'rater3_trait3',
       'rater3_trait4', 'rater3_trait5', 'rater3_trait6'],
      dtype='object')

In [13]:
df.index # index number

RangeIndex(start=0, stop=12978, step=1)

> Dimension of the dataframe can be simply checked using ```len()``` or ```.shape()```

In [15]:
print(len(df)) # the number of samples
print(len(df.columns)) # the number of features

12978
28

In [16]:
df.shape # (N samples X N columns)

(12978, 28)

In [ ]:
new_list.clear() # clear the list
print(new_list)

[]

## 3. Subselecting or Slicing a dataframe <a class="anchor" id="matrix"></a>

> Subselecting and extracting rows based on row numbers ```df.iloc[index]```

In [ ]:
start_row = 0
finish_row = 10
df.iloc[start_row:finish_row] # Extract row 0 to row 10

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,"Dear @LOCATION1, I think that computers have a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,1,Did you know that more and more people these d...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,1,@PERCENT1 of people agree that computers make ...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> subselecting a row using index (i.e. ID) ```df.loc[index]```

In [ ]:
row_index = 9
df.loc[row_index] # Extract row with the ID 9
## iloc is the index name (some people use student ID as this)
## loc is always the index position/location

essay_id                                                         10
essay_set                                                         1
essay             In the @LOCATION1 we have the technology of a ...
rater1_domain1                                                  5.0
rater2_domain1                                                  4.0
rater3_domain1                                                  NaN
domain1_score                                                   9.0
rater1_domain2                                                  NaN
rater2_domain2                                                  NaN
domain2_score                                                   NaN
rater1_trait1                                                   NaN
rater1_trait2                                                   NaN
rater1_trait3                                                   NaN
rater1_trait4                                                   NaN
rater1_trait5                                                   NaN
rater1_trait6                                                   NaN
rater2_trait1                                                   NaN
rater2_trait2                                                   NaN
rater2_trait3                                                   NaN
rater2_trait4                                                   NaN
rater2_trait5                                                   NaN
rater2_trait6                                                   NaN
rater3_trait1                                                   NaN
rater3_trait2                                                   NaN
rater3_trait3                                                   NaN
rater3_trait4                                                   NaN
rater3_trait5                                                   NaN
rater3_trait6                                                   NaN
Name: 9, dtype: object

> Let's call the ```domain1_score``` column and look at the descriptive statistics using ```df.describe()```

In [22]:
# df['domain1_score'].describe() #you can either speciy the name of the column inside the square br
df.domain2_score.describe() #or .[column name] if the column name is one-word, thus no white space.

## Set function gets all unique values
set(df.domain1_score)

count    1800.000000
mean        3.333889
std         0.729103
min         1.000000
25%         3.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: domain2_score, dtype: float64

54

>   Let's extract rows based on column values, E.G., students who got score 9 or 5

In [24]:
print(len(set(df.domain1_score))) #  a total of 54 score categories

## Return only rows where domain1 is 9
# df[df['domain1_score']== 9]
df[(df['domain1_score']== 9) | (df['domain1_score']== 5)]

54

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,1,Do you think that computers are useless? Or do...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,1,"Dear Newspaper, Computers are high tec and hav...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12082,19376,7,When my friend was getting his meds I waited u...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12156,19456,7,The time iwas patent was when I was in schol I...,4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12193,19497,7,I was patient when my mom when to the doctors ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12196,19500,7,A time when my @CAPS1 was patient is to day la...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12238,19544,7,At the @CAPS1â€™s office. I had an @CAPS2 appoin...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
## Create new df called perfect only with students scores essay set  1 and scored highest
max_score = df.domain1_score.max()
#perfect = df[(df['essay_set'] == 1) & (df['domain1_score'] == max_score)]

perfect = df[(df['essay_set'] == 1) & (df['domain1_score'] == 12)]

print(perfect)

      essay_id  essay_set                                              essay  \
15          16          1  Dear @ORGANIZATION1, The computer blinked to l...
36          37          1  Dear @ORGANIZATION1, @CAPS1 has been brought t...
69          70          1  Dear @CAPS1 @CAPS2, @CAPS3 life without comput...
117        118          1  Dear Local Newspaper @CAPS1, @CAPS2 our techno...
146        147          1  Hour after hour of gaming online and posting b...
153        154          1  Dear Local Newspaper, I believe that computers...
161        162          1  Since computers were invented, a colossal chan...
224        225          1  Computers, @CAPS1 how far we've come. Computer...
231        232          1  Lately, a technology buzz has hit all over the...
286        287          1  Dear The @CAPS1 @CAPS2, Your resources, your e...
319        321          1  Dear @CAPS1, @CAPS2 name is @PERSON1 and I wil...
343        346          1  Dear @LOCATION1, @CAPS1 a teanger growing up i...
388        391          1  People should ues computers, they do benefit t...
408        411          1  Dear @CAPS1 of my local newspaper, More and mo...
415        418          1  Dear @ORGANIZATION2, @CAPS1 name us @PERSON1 f...
469        472          1  @ORGANIZATION1, @CAPS1 technology majors suppo...
495        498          1  To whom @CAPS5 @MONTH1 concern at @CAPS1 @CAPS...
516        519          1  Dear Readers, Computers have a large presence ...
556        559          1  Dear Local newspaper, @CAPS1 a world filled wi...
696        699          1  Dear @CAPS1 Society: Computers are perhaps one...
814        817          1  Dear @ORGANIZATION1, A resent concern has buil...
844        847          1  @ORGANIZATION1, @CAPS1 not advance in technolo...
856        859          1  The innovation of computers was a great leap i...
865        868          1  @ORGANIZATION1, ore and more people use comput...
871        874          1  Almost every family has access to a computer. ...
929        932          1  Dear @CAPS1, @CAPS2 and kids of any age at thi...
938        941          1  @ORGANIZATION1, @CAPS1 computers benefit our s...
950        953          1  Dear @CAPS1 of @LOCATION1, @CAPS2 the world ha...
996        999          1  Dear Newspaper, @CAPS1 your life without compu...
997       1000          1  The effect computers have on humans is by far ...
1075      1078          1  Dear @CAPS1: you recently posed a question in ...
1129      1133          1  Dear @CAPS1 news editors, @CAPS2, my name is @...
1155      1159          1  In a study conducted by @ORGANIZATION1, @NUM1 ...
1166      1170          1  Dear @ORGANIZATION3, @CAPS1 has come to @CAPS2...
1167      1171          1  @ORGANIZATION1, @CAPS1? Are you there?" "@CAPS...
1197      1201          1  Dear editor, Computers are becoming more and m...
1245      1250          1  Dear The @CAPS1 newspaper, @CAPS2 in front of ...
1253      1258          1  Dear readers, On the current debate of the eff...
1366      1371          1  Dear Local Newspaper, I feel that negative eff...
1375      1380          1  Dear local newspaper, I has come to my attenti...
1410      1415          1  Dear computer experts, @CAPS1 this: A family o...
1438      1443          1  Computers have been one of technoligy's greate...
1442      1447          1  Dear @CAPS1 of the @CAPS2 @CAPS3 @CAPS4, compu...
1447      1452          1  Dear @PERSON4, I strongly believe that use of ...
1700      1705          1  Dear @CAPS1 @CAPS2, @CAPS3, walking into a roo...
1755      1760          1  I think we can all agree that computer usage i...
1758      1763          1  Dear Local Newspaper: @CAPS1 you know that ove...

      rater1_domain1  rater2_domain1  rater3_domain1  domain1_score  \
15               6.0             6.0             NaN           12.0
36               6.0             6.0             NaN           12.0
69               6.0             6.0             NaN           12.0
117              6.0             6.0             NaN           12.0
146              6.0             6.0             NaN           12.0
153              6.0             6.0             NaN           12.0
161              6.0             6.0             NaN           12.0
224              6.0             6.0             NaN           12.0
231              6.0             6.0             NaN           12.0
286              6.0             6.0             NaN           12.0
319              6.0             6.0             NaN           12.0
343              6.0             6.0             NaN           12.0
388              6.0             6.0             NaN           12.0
408              6.0             6.0             NaN           12.0
415              6.0             6.0             NaN           12.0
469              6.0             6.0             NaN           12.0
495              6.0             6.0             NaN           12.0
516              6.0             6.0             NaN           12.0
556              6.0             6.0             NaN           12.0
696              6.0             6.0             NaN           12.0
814              6.0             6.0             NaN           12.0
844              6.0             6.0             NaN           12.0
856              6.0             6.0             NaN           12.0
865              6.0             6.0             NaN           12.0
871              6.0             6.0             NaN           12.0
929              6.0             6.0             NaN           12.0
938              6.0             6.0             NaN           12.0
950              6.0             6.0             NaN           12.0
996              6.0             6.0             NaN           12.0
997              6.0             6.0             NaN           12.0
1075             6.0             6.0             NaN           12.0
1129             6.0             6.0             NaN           12.0
1155             6.0             6.0             NaN           12.0
1166             6.0             6.0             NaN           12.0
1167             6.0             6.0             NaN           12.0
1197             6.0             6.0             NaN           12.0
1245             6.0             6.0             NaN           12.0
1253             6.0             6.0             NaN           12.0
1366             6.0             6.0             NaN           12.0
1375             6.0             6.0             NaN           12.0
1410             6.0             6.0             NaN           12.0
1438             6.0             6.0             NaN           12.0
1442             6.0             6.0             NaN           12.0
1447             6.0             6.0             NaN           12.0
1700             6.0             6.0             NaN           12.0
1755             6.0             6.0             NaN           12.0
1758             6.0             6.0             NaN           12.0

      rater1_domain2  rater2_domain2  domain2_score  ...  rater2_trait3  \
15               NaN             NaN            NaN  ...            NaN
36               NaN             NaN            NaN  ...            NaN
69               NaN             NaN            NaN  ...            NaN
117              NaN             NaN            NaN  ...            NaN
146              NaN             NaN            NaN  ...            NaN
153              NaN             NaN            NaN  ...            NaN
161              NaN             NaN            NaN  ...            NaN
224              NaN             NaN            NaN  ...            NaN
231              NaN             NaN            NaN  ...            NaN
286              NaN             NaN            NaN  ...            NaN
319              NaN             NaN            NaN  ...            NaN
343              NaN             NaN            NaN  ...            NaN
388              NaN             NaN            NaN  ...            NaN
408              NaN             NaN            NaN  ...            NaN
415              NaN             NaN            NaN  ...            NaN
469              NaN             NaN            NaN  ...            NaN
495              NaN             NaN            NaN  ...            NaN
516              NaN             NaN            NaN  ...            NaN
556              NaN             NaN            NaN  ...            NaN
696              NaN             NaN            NaN  ...            NaN
814              NaN             NaN            NaN  ...            NaN
844              NaN             NaN            NaN  ...            NaN
856              NaN             NaN            NaN  ...            NaN
865              NaN             NaN            NaN  ...            NaN
871              NaN             NaN            NaN  ...            NaN
929              NaN             NaN            NaN  ...            NaN
938              NaN             NaN            NaN  ...            NaN
950              NaN             NaN            NaN  ...            NaN
996              NaN             NaN            NaN  ...            NaN
997              NaN             NaN            NaN  ...            NaN
1075             NaN             NaN            NaN  ...            NaN
1129             NaN             NaN            NaN  ...            NaN
1155             NaN             NaN            NaN  ...            NaN
1166             NaN             NaN            NaN  ...            NaN
1167             NaN             NaN            NaN  ...            NaN
1197             NaN             NaN            NaN  ...            NaN
1245             NaN             NaN            NaN  ...            NaN
1253             NaN             NaN            NaN  ...            NaN
1366             NaN             NaN            NaN  ...            NaN
1375             NaN             NaN            NaN  ...            NaN
1410             NaN             NaN            NaN  ...            NaN
1438             NaN             NaN            NaN  ...            NaN
1442             NaN             NaN            NaN  ...            NaN
1447             NaN             NaN            NaN  ...            NaN
1700             NaN             NaN            NaN  ...            NaN
1755             NaN             NaN            NaN  ...            NaN
1758             NaN             NaN            NaN  ...            NaN

      rater2_trait4  rater2_trait5  rater2_trait6  rater3_trait1  \
15              NaN            NaN            NaN            NaN
36              NaN            NaN            NaN            NaN
69              NaN            NaN            NaN            NaN
117             NaN            NaN            NaN            NaN
146             NaN            NaN            NaN            NaN
153             NaN            NaN            NaN            NaN
161             NaN            NaN            NaN            NaN
224             NaN            NaN            NaN            NaN
231             NaN            NaN            NaN            NaN
286             NaN            NaN            NaN            NaN
319             NaN            NaN            NaN            NaN
343             NaN            NaN            NaN            NaN
388             NaN            NaN            NaN            NaN
408             NaN            NaN            NaN            NaN
415             NaN            NaN            NaN            NaN
469             NaN            NaN            NaN            NaN
495             NaN            NaN            NaN            NaN
516             NaN            NaN            NaN            NaN
556             NaN            NaN            NaN            NaN
696             NaN            NaN            NaN            NaN
814             NaN            NaN            NaN            NaN
844             NaN            NaN            NaN            NaN
856             NaN            NaN            NaN            NaN
865             NaN            NaN            NaN            NaN
871             NaN            NaN            NaN            NaN
929             NaN            NaN            NaN            NaN
938             NaN            NaN            NaN            NaN
950             NaN            NaN            NaN            NaN
996             NaN            NaN            NaN            NaN
997             NaN            NaN            NaN            NaN
1075            NaN            NaN            NaN            NaN
1129            NaN            NaN            NaN            NaN
1155            NaN            NaN            NaN            NaN
1166            NaN            NaN            NaN            NaN
1167            NaN            NaN            NaN            NaN
1197            NaN            NaN            NaN            NaN
1245            NaN            NaN            NaN            NaN
1253            NaN            NaN            NaN            NaN
1366            NaN            NaN            NaN            NaN
1375            NaN            NaN            NaN            NaN
1410            NaN            NaN            NaN            NaN
1438            NaN            NaN            NaN            NaN
1442            NaN            NaN            NaN            NaN
1447            NaN            NaN            NaN            NaN
1700            NaN            NaN            NaN            NaN
1755            NaN            NaN            NaN            NaN
1758            NaN            NaN            NaN            NaN

      rater3_trait2  rater3_trait3  rater3_trait4  rater3_trait5  \
15              NaN            NaN            NaN            NaN
36              NaN            NaN            NaN            NaN
69              NaN            NaN            NaN            NaN
117             NaN            NaN            NaN            NaN
146             NaN            NaN            NaN            NaN
153             NaN            NaN            NaN            NaN
161             NaN            NaN            NaN            NaN
224             NaN            NaN            NaN            NaN
231             NaN            NaN            NaN            NaN
286             NaN            NaN            NaN            NaN
319             NaN            NaN            NaN            NaN
343             NaN            NaN            NaN            NaN
388             NaN            NaN            NaN            NaN
408             NaN            NaN            NaN            NaN
415             NaN            NaN            NaN            NaN
469             NaN            NaN            NaN            NaN
495             NaN            NaN            NaN            NaN
516             NaN            NaN            NaN            NaN
556             NaN            NaN            NaN            NaN
696             NaN            NaN            NaN            NaN
814             NaN            NaN            NaN            NaN
844             NaN            NaN            NaN            NaN
856             NaN            NaN            NaN            NaN
865             NaN            NaN            NaN            NaN
871             NaN            NaN            NaN            NaN
929             NaN            NaN            NaN            NaN
938             NaN            NaN            NaN            NaN
950             NaN            NaN            NaN            NaN
996             NaN            NaN            NaN            NaN
997             NaN            NaN            NaN            NaN
1075            NaN            NaN            NaN            NaN
1129            NaN            NaN            NaN            NaN
1155            NaN            NaN            NaN            NaN
1166            NaN            NaN            NaN            NaN
1167            NaN            NaN            NaN            NaN
1197            NaN            NaN            NaN            NaN
1245            NaN            NaN            NaN            NaN
1253            NaN            NaN            NaN            NaN
1366            NaN            NaN            NaN            NaN
1375            NaN            NaN            NaN            NaN
1410            NaN            NaN            NaN            NaN
1438            NaN            NaN            NaN            NaN
1442            NaN            NaN            NaN            NaN
1447            NaN            NaN            NaN            NaN
1700            NaN            NaN            NaN            NaN
1755            NaN            NaN            NaN            NaN
1758            NaN            NaN            NaN            NaN

      rater3_trait6
15              NaN
36              NaN
69              NaN
117             NaN
146             NaN
153             NaN
161             NaN
224             NaN
231             NaN
286             NaN
319             NaN
343             NaN
388             NaN
408             NaN
415             NaN
469             NaN
495             NaN
516             NaN
556             NaN
696             NaN
814             NaN
844             NaN
856             NaN
865             NaN
871             NaN
929             NaN
938             NaN
950             NaN
996             NaN
997             NaN
1075            NaN
1129            NaN
1155            NaN
1166            NaN
1167            NaN
1197            NaN
1245            NaN
1253            NaN
1366            NaN
1375            NaN
1410            NaN
1438            NaN
1442            NaN
1447            NaN
1700            NaN
1755            NaN
1758            NaN

[47 rows x 28 columns]

## 4. Applying a ```function``` directly to the dataframe
> We learned different types of string methods last time (e.g., ```string.lower()```). We will create a functionusing the string methods and directly apply it to the entities of the dataframe.
    
    > dataframe[column].apply(function)
    > dataframe[column].apply(lambda x: function(x))

> First we will create a ```function``` called ```split_words```

In [35]:
def split_words(string):
    string = string.lower() #lowercase
    ## make everything lower case
    return string.split(' ') #split words into a list
    ## split stirng by the space

split_words("Please work right now!")

['please', 'work', 'right', 'now!']

> Let's apply this function to the column ```essay``` (```df.essay``` or ```df['essay'] ```). We will use the `apply` function

In [37]:
df['tokens'] = df.essay.apply(split_words)
df.tokens

0        [dear, local, newspaper,, i, think, effects, c...
1        [dear, @caps1, @caps2,, i, believe, that, usin...
2        [dear,, @caps1, @caps2, @caps3, more, and, mor...
3        [dear, local, newspaper,, @caps1, i, have, fou...
4        [dear, @location1,, i, know, having, computers...
                               ...
12973    [, in, most, stories, mothers, and, daughters,...
12974    [, i, never, understood, the, meaning, laughte...
12975    [when, you, laugh,, is, @caps5, out, of, habit...
12976    [, , , , , , , , , , , , , , , , , , , , , , ,...
12977    [, many, people, believe, that, laughter, can,...
Name: tokens, Length: 12978, dtype: object

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 1: Define a function and apply it to a dataframe
> Q1: Let's define another function (`count`) that counts the number of unique words in a list. \
> Q2: Let's apply the `count` function to `df['essay_list']`
    >- *What is the index number of the response with the most unique number of words?* `.argmax()`
    > Q3: Define a new `count` function that excludes the masked words (e.g.,`['@caps1', '@caps2', '@caps3', '@location1', '@location2', '@organization1', '@organization2']`

In [38]:
################### Your Code Here ############################
#Q1 ANSWER
def count(lst):
    temp = set(lst)

    return len(list(temp))
###############################################################

In [40]:
################### Your Code Here ############################
#Q2 ANSWER
df['word_count'] = df.tokens.apply(count)

###############################################################

In [45]:
################### Your Code Here ############################
import re

#Q3 ANSWER
def count_new(lst):
    new_list = [i for i in lst if '@' not in i]
    temp = set(new_list)
    return

df.tokens.apply(count_new)
###############################################################

0        None
1        None
2        None
3        None
4        None
         ...
12973    None
12974    None
12975    None
12976    None
12977    None
Name: tokens, Length: 12978, dtype: object

## 5. *Preliminary* Descriptive Analysis with `Pandas`

> Basic descriptive statistics using `df.max()`, `df.min()`, `df.mean()`, `df.mode()`

In [46]:
df['word_count'] = df.tokens.apply(len)

print(df.word_count.min())

2

In [47]:
print(df.word_count.max())

1119

In [48]:
print(df.word_count.mean())

227.03575281245185

In [49]:
print(df.word_count.mode())

0    133
Name: word_count, dtype: int64

> Correlation Analysis using `df.corr()`

In [ ]:
# correlation beween X(word count) Y (domain1_score)
for i in list(set(df.essay_set)):
    value = df[df.essay_set==i].corr()['word_count']['domain1_score']
    print('correlation coefficient for essay set: ', i)
    print(round(value,2))

correlation coefficient for essay set:  1
0.83
correlation coefficient for essay set:  2
0.7
correlation coefficient for essay set:  3
0.71
correlation coefficient for essay set:  4
0.74
correlation coefficient for essay set:  5
0.82
correlation coefficient for essay set:  6
0.71
correlation coefficient for essay set:  7
0.71
correlation coefficient for essay set:  8
0.64